.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.heroWrapper {
  width: 100%;
  height: auto;
}

.heroImage {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; /* γεμίζει χωρίς παραμόρφωση */
  object-position: center; /* ποιο σημείο κρατάει όταν κόβει */
}

@media (max-width: 767.98px) {
  .heroImage {
    aspect-ratio: 4 / 5;
  }
}
