.aboutSection {
  text-align: center;
  justify-content: center;
  margin-top: 120px;
  padding: 2rem;
  color: var(--prasino);
}

.aboutHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-family: "Network";
}

.aboutTitle {
  padding: 0;
  font-size: 5rem;
  margin: 1.8rem;
  position: relative; /* σημείο αναφοράς — ΤΟ ΙΔΙΟ το h1, κανένα extra div */
  display: inline-block;
}

.aboutText {
  white-space: pre-line;
  font-family: "Gothic";
  font-size: 1.5rem;
}

.kokoiIcon {
  position: absolute;
  width: auto;
  height: 3rem;
  top: 0;
  right: 38%;
}

.aboutLogo {
  width: auto;
  height: 5rem;
  margin: 2rem;
  flex-shrink: 0;
}

.aboutFooter {
  font-family: "GothicItalic";
}
@media (max-width: 767.98px) {
  .aboutSection {
    padding: 0.5rem 1rem;
    border-radius: 8rem 8rem 0 0;
  }

  .aboutHeader {
    flex-direction: column;
    gap: 0.5rem;
  }

  .aboutTitle {
    font-size: 2.5rem;
    margin: 0.8rem;
  }

  .aboutText {
    font-size: 1.1rem;
  }

  .aboutLogo {
    height: 3rem;
    margin: 1rem;
  }

  .kokoiIcon {
    width: auto;
    height: 1.5rem;
    top: 10%;
    right: 15%;
  }
}
